Repository LSSTDESC/BlendingToolKit, pull requests merged in 2022-04, with the labels that each got.

#288 Cleanup dependencies
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/notebooks.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: dependencies

#292 Use band name in metrics
  btk/metrics.py
  conf/config.yaml
  conf/hydra/help/btk_help.yaml
  docs/source/cli.rst
  docs/source/tutorials.rst
  notebooks/00-intro.ipynb
  notebooks/01b-scarlet-measure.ipynb
  notebooks/02a-multi-tutorial.ipynb
  tests/test_main.py
  tests/test_mr.py
Labels: refactor

#294 Add documentation for updated survey system
  docs/source/src/btk.survey.rst
  docs/source/tutorials.rst
  docs/source/user_guide.rst
  notebooks/00-intro.ipynb
  notebooks/02a-multi-tutorial.ipynb
  notebooks/02b-custom-tutorial.ipynb
Labels: docs, Ready for review

#296 Remove cli temporarily
  MAINTAINER.md
  btk/__main__.py
  btk/main.py
  conf/__init__.py
  conf/catalog/catsim.yaml
  conf/catalog/cosmos.yaml
  conf/config.yaml
  conf/draw_blends/catsim.yaml
  conf/draw_blends/cosmos.yaml
  conf/hydra/help/btk_help.yaml
  conf/sampling/default.yaml
  conf/sampling/group_sampling.yaml
  conf/sampling/group_sampling_numbered.yaml
  docs/source/cli.rst
  docs/source/index.rst
  docs/source/tutorials.rst
  docs/source/user_guide.rst
  poetry.lock
  pyproject.toml
  tests/test_error_cases.py
  tests/test_main.py
  tests/test_measure.py
Labels: CLI
